extends ../recipe-partials/layout-grocery

//- Override default config variables
append config
  - var isPageTitle = false
  - var pageTitle = 'Update Recipe'
  - var parentMenu = 'Account'
  - var navbarTemplate = 'navbar-marketplace'
  - var footerTemplate = 'footer-marketplace'
  - var isFileUploadScript = true
  - var showSidebar = false
  - var includeFirebase = true
  - var includeIsotope = false
  - var includeAutoComplete = false
  - var includeRecipe = false
  - var includeRecipeSearch = false
  - var includeCreateRecipe = false
  - var includeGroceryList = false
  - var includeUpdateRecipe = true
  - var includeTest = false

//- Page Content
block content

  //- dashboard-header.pug template
  //include partials/dashboard-header

  .container.mb-5.pb-3
    .bg-light.box-shadow-lg.rounded-lg.overflow-hidden
      .row

        // Sidebar
        aside.col-lg-4
          //- sidebar-dashboard.pug template
          //include partials/sidebar-dashboard

        // Content
        section.col-lg-12.pt-lg-4.pb-4.mb-3.ml-3
          .pt-2.px-4.pr-xl-5

            // Title
            .d-sm-flex.flex-wrap.justify-content-between.align-items-center.pb-2
              h2.h3.py-2.mr-2.text-center.text-sm-left Update Ingredients
            .table-responsive
              table.table.table-striped
                thead
                  tr
                    th id
                    th ingredientDescription
                    th ingredientId
                    th recipeId
                    th amount
                    th isRecipe
                    th action
                tbody
                  each ri in recipeIngredients
                    tr
                      td #{ri.id}
                      td #{ri.ingredientDescription}
                      td #{ri.ingredientId}
                      td #{ri.recipeId}
                      td #{ri.amount}
                      td #{ri.isRecipe}
                      td 
                        form.form-inline.pt-2
                          input(type="text", id=ri.id, placeholder=ri.ingredientId).form-control.mb-3.mr-sm-4
                          button(ri-id=ri.id).update-btn.btn.btn-primary.mb-3 Update
                      


                    
  include ../recipe-partials/toast-generic-success