extends ../recipe-partials/layout-grocery

//- Override default config variables
append config
  - var isPageTitle = false
  - var pageTitle = 'Update Recipe'
  - var parentMenu = 'Account'
  - var navbarTemplate = 'navbar-marketplace'
  - var footerTemplate = 'footer-marketplace'
  - var isFileUploadScript = true
  - var showSidebar = false
  - var showSidbar = true
  - var includeFirebase = true
  - var includeIsotope = false
  - var includeAutoComplete = false
  - var includeRecipe = false
  - var includeRecipeSearch = false
  - var includeCreateRecipe = false
  - var includeGroceryList = false
  - var includeUpdateRecipe = false
  - var includeUpdateTags = true
  - var includeTest = false
  - var includeAdmin = true
  - var select2 = true

//- Page Content
block content

  //- dashboard-header.pug template
  //include partials/dashboard-header

  .container.mb-5.pb-3
    .bg-light.box-shadow-lg.rounded-lg.overflow-hidden
      .row.mr-3

        // Sidebar
        aside.col-lg-4
        //- sidebar-dashboard.pug template
        //include partials/sidebar-dashboard

        // Content
        section.col-lg-12.pt-lg-4.pb-4.mb-3.ml-3
          .pt-2.px-4.pr-xl-5
          // Nav tabs
          ul(class="nav nav-tabs nav-fill", role="tablist")
            li.nav-item
              a(href="#updateTags", class="nav-link", data-toggle="tab", role="tab")
                i.czi-trash.mr-2
                | Update Recipe Tags
            li.nav-item
              a(href="#addTag", class="nav-link", data-toggle="tab", role="tab")
                i.czi-add-circle.mr-2
                | Create New Tag
          // Tabs content
          .tab-content
            div(id="updateTags", class="tab-pane fade show active", role="tabpanel")
              form
                .row
                  .col-md-12
                    h2 Update Tags
                .row.mt-4
                  .col-md-6.form-group
                    .form-group
                      select(id="recipe-select-input").form-control.custom-select
                        option Choose option...
                        each recipe in recipes
                          option(value=recipe.id) #{recipe.name}
                  .col-md-6.form-group
                    button.btn.btn-primary.mb-3.ml-3#load-recipe-btn
                      i.czi-cloud-download.mr-2
                      | Load Recipe
                .row#recipe-row
                  .col-md-12
                    .row
                      .col-md-12
                        h6#recipe-name-tag [No Recipe Loaded]
                    .row
                      .col-md-3.p-4
                        each tag in tags[1]
                          .custom-control.custom-switch.pb-3
                            input(type="checkbox", id=tag.id).custom-control-input.tag-switch
                            label.custom-control-label(for=tag.id) #{tag.id}
                      .col-md-3.p-4
                        each tag in tags[2]
                          .custom-control.custom-switch.pb-3
                            input(type="checkbox", id=tag.id).custom-control-input.tag-switch
                            label.custom-control-label(for=tag.id) #{tag.id}
                      .col-md-3.p-4
                        each tag in tags[3]
                          .custom-control.custom-switch.pb-3
                            input(type="checkbox", id=tag.id).custom-control-input.tag-switch
                            label.custom-control-label(for=tag.id) #{tag.id}
                      .col-md-3.p-4
                        each tag in tags[4]
                          .custom-control.custom-switch.pb-3
                            input(type="checkbox", id=tag.id).custom-control-input.tag-switch
                            label.custom-control-label(for=tag.id) #{tag.id}
                    .row
                      .col-md-12.p4
                        button(id="update-tags-btn").btn.btn-primary.mb-3.ml-3.float-right.mr-5
                          i.czi-cloud-download.mr-2
                          | Update Tags
                      
                #recipeTags
                each recipe in recipes
                  if recipe.tags
                  - var tags = ""
                  - for(i=0; i<recipe.tags.length; i++){
                  -   tags = tags + " " + recipe.tags[i]
                  - }
                  div(id=recipe.id class=tags)   


            div(id="addTag", class="tab-pane fade", role="tabpanel")
              form
                .row
                  .col-md-12.mb-3
                    h2 Create Tag
                  .col-md-4.form-group
                    input(type="text", id="create-tag-id", placeholder="id" required).form-control
                    .valid-feedback
                      | Looks good!
                  .col-md-4.form-group
                    input(type="text", id="create-tag-name" placeholder="name").form-control
                    .valid-feedback
                      | Looks good!
                  .col-md-4.form-group
                    input(type="text", id="create-tag-category" placeholder="category").form-control
                    .valid-feedback
                      | Looks good!
                .row
                  .col-md-12
                    button.btn.btn-primary.mb-3.ml-3.float-right#create-tag-btn
                      i.czi-add-circle.mr-2
                      | Create Tag

  include ../recipe-partials/toast-generic-success