extends ../recipe-partials/layout-admin

//- Override default config variables
append config
    - var isPageTitle = false
    - var pageTitle = 'Recipes'
    - var parentMenu = 'Account'
    - var navbarTemplate = 'navbar-marketplace'
    - var footerTemplate = 'footer-marketplace'
    - var isFileUploadScript = true
    - var isCardScript = false
    - var isChartScript = true 
    - var isCodeHighlighting = true 
append scripts
    script(src='/js/recipes/admin-recipes.js')

//- Page Content
block content

    //- dashboard-header.pug template
    //include partials/dashboard-header

    .mb-5.pb-3
        .box-shadow-lg.rounded-lg.overflow-hidden
            .row

                // Sidebar
                aside.col-lg-2
                    //- sidebar-dashboard.pug template
                    include ../recipe-partials/sidebar-admin

                // Content
                section(style='padding-right: 2.5rem !important').col-lg-10.p-2
                    .row.p-1.pt-3
                        .col-lg-8
                                h3 #{pageTitle}
                        .col-lg-4.d-flex.justify-content-end
                                select(id="select-recipe-id" name='recipeId').form-control.custom-select.ml-2
                                    option Select Recipe...
                                    each recipe in recipes
                                        option(value=recipe.id) #{recipe.name}
                                input(type="text", id="q", placeholder="Filter..." value=q).form-control.ml-2
                                button(type="button").btn.btn-primary.btn-icon.ml-2#filterBtn
                                    i.czi-rocket.mr-2
                                    | Go
                                a(href='/admin/add-recipe' type="button" data-toggle="tooltip", data-placement="top", title="Add New Recipe").btn.btn-primary.btn-icon.ml-2#filterBtn
                                    i.czi-add-circle
                    if queryDisplay 
                        .row
                            .col-lg-12.p-1
                                | #{queryDisplay}
                    .row
                        .col-lg-12.p-1
                            .table-responsive
                                table.table.bg-light
                                    thead
                                    tr
                                        th 
                                        th Images
                                        th ID
                                        th Name
                                        th Instructions
                                        th Notes
                                        th Author
                                        th Link
                                        th Actions
                                    tbody
                                    each recipe in recipes
                                        tr
                                            td 
                                                if recipe.approved
                                                    button(type="button", data-toggle="tooltip", data-placement="top", title="Active").btn.btn-success.p-1
                                                        i.czi-security-check.font-size-lg
                                                else 
                                                    button(type="button", data-toggle="tooltip", data-placement="top", title="Pending Approval").btn.btn-warning.p-1
                                                        i.czi-security-close.font-size-lg
                                            td 
                                                if recipe.images
                                                    - var imgSrc = recipe.images[0] || '/recipe-images/default.jpg'
                                                    img(src=imgSrc width=64, height=64)
                                                else
                                                    | No Images
                                            td #{recipe.id}
                                            td #{recipe.name}
                                            td 
                                                a(data-toggle="tooltip", data-placement="top", title=recipe.instructions)
                                                    i.czi-announcement.font-size-lg
                                            td 
                                                if recipe.notes
                                                    a(data-toggle="tooltip", data-placement="top", title=recipe.notes)
                                                        i.czi-announcement.font-size-lg
                                            td #{recipe.author}
                                            td 
                                                a(href=recipe.url, target="_blank" class="btn btn-outline-secondary", data-toggle="tooltip", data-placement="top", title=recipe.url).btn.btn-outline-secondary.btn-icon
                                                    i.czi-link.font-size-lg
                                            td(style='min-width: 15rem;')
                                                button(type="button" data-toggle="tooltip", data-placement="top", title="Edit Recipe" data-recipe=JSON.stringify(recipe)).btn.btn-outline-primary.btn-icon.editBtn.mr-2
                                                    i.czi-edit
                                                a(href="#" data-toggle="tooltip", data-placement="top", title="Inactivate Recipe" data-recipe-id=recipe.id data-recipe-name=recipe.name).btn.btn-outline-warning.btn-icon.inactivateBtn.mr-2
                                                    i.czi-security-close
                                                - var recipeLink = '/recipe/'+recipe.id
                                                a(href=recipeLink data-toggle="tooltip", data-placement="top", title="Go to recipe page").btn.btn-outline-primary.btn-icon.editBtn.mr-2
                                                    i.czi-sign-in
                                                - var recipeLink = '/admin/recipe-ingredients?r='+recipe.id;
                                                a(href=recipeLink data-toggle="tooltip", data-placement="top", title="View Recipe Ingredients").btn.btn-outline-primary.btn-icon.editBtn.mr-2
                                                    i.czi-basket-alt
                                                    
                                                        

    #update-modal.modal-quick-view.modal.fade(tabindex='-1')
        .modal-dialog
            .modal-content
                .modal-header
                    h4.modal-title.product-title
                        a
                            | Update Recipe 
                            i.czi-arrow-right.font-size-lg.ml-2
                    button(type='button' class='close' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    .row.justify-content-center
                        .col-lg-10.pr-lg-0
                            .form-group
                                label(for="text-input") ID
                                input(type="text", name='id' id="text-id" readonly).form-control
                            .form-group
                                label(for="name") Name
                                input(type="search", name='name' id="text-name").form-control
                            .form-group
                                label(for="recipeIngredients") Recipe Ingredients
                                textarea(name='recipeIngredients' id="text-recipeIngredients").form-control
                                small.form-text.text-muted
                                    | ID, Amount, IngredeintDescription (seperated by semi-colons)
                            .form-group
                                .custom-control.custom-checkbox
                                    input(type="checkbox", id="cb-removeIngredientIds").custom-control-input
                                    label.custom-control-label(for="cb-removeIngredientIds") Remove IngredientIds from Recipe Ingredients (above)
                            .form-group
                                label(for="instructions") Instructions
                                textarea(name='instructions' id="text-instructions").form-control
                            .form-group
                                label(for="notes") Notes
                                textarea(name='notes' id="text-notes").form-control
                            .form-group
                                label(for="images") Images
                                textarea(name='images' id="text-images").form-control
                            .row
                                .col-lg-6
                                    .form-group
                                        label(for="prepTime") Prep Time
                                        input(name='prepTime' id="text-prepTime").form-control
                                .col-lg-6
                                    .form-group
                                        label(for="cookTime") Cook Time
                                        input(name='cookTime' id="text-cookTime").form-control
                            .row
                                .col-lg-6
                                    .form-group
                                        label(for="author") Author
                                        input(name='author' id="text-author").form-control
                                .col-lg-6
                                    .form-group
                                        label(for="link") Link
                                        input(name='link' id="text-link").form-control
                            button().btn.btn-primary.btn-block#update-btn.mt-4
                                i.czi-loading.font-size-base.mr-2
                                | Update Recipe
    #yes-no-modal.modal.fade(tabindex='-1')
        .modal-dialog
            .modal-content
                .modal-header
                    h6.modal-title.product-title Are you sure?
                .modal-body
                    .row.justify-content-center
                        .col-lg-12
                            p This will hide <span id="yesNoRecipeName"></span> from the catalog. Are you sure you want to do this?
                    .row.justify-content-center
                        .col-lg-6
                            button().btn.btn-outline-primary.btn-block#inactivateBtnApproved.mt-4
                                    i.czi-security-check.font-size-base.mr-2
                                    | Yes, Inactivate!
                        .col-lg-6
                            button(data-dismiss="modal").btn.btn-outline-accent.btn-block.mt-4
                                    i.czi-security-close.font-size-base.mr-2
                                    | Nevermind
                        
                            

                 
    include ../recipe-partials/toast-generic-success