extends ../recipe-partials/layout-admin

//- Override default config variables
append config
	- var isPageTitle = false
	- var pageTitle = 'Tags'
	- var parentMenu = 'Account'
	- var navbarTemplate = 'navbar-marketplace'
	- var footerTemplate = 'footer-marketplace'
	- var isFileUploadScript = true
	- var isCardScript = false
	- var isChartScript = true 
	- var isCodeHighlighting = true 
append scripts
	script(src='/js/recipes/admin-tags.js')

//- Page Content
block content

	//- dashboard-header.pug template
	//include partials/dashboard-header

	.mb-5.pb-3
		.box-shadow-lg.rounded-lg.overflow-hidden
			.row

				// Sidebar
				aside.col-lg-2
					//- sidebar-dashboard.pug template
					include ../recipe-partials/sidebar-admin

				// Content
				section(style='padding-right: 2.5rem !important').col-lg-10.p-2
					.row.p-1.pt-3
						.col-lg-8
								h3 #{pageTitle}
						.col-lg-4.d-flex.justify-content-end
								input(type="text", id="q", placeholder="Filter..." value=q).form-control.ml-2
								button(type="button").btn.btn-primary.btn-icon.ml-2#filterBtn
										i.czi-rocket.mr-2
										| Go
					.row
						.col-lg-12.p-1
							.table-responsive
								table.table.bg-light
									thead
									tr
										th ID
										th Name
										th Category
										th Actions
									tbody
									each tag in tags
										tr
											td #{tag.id}
											td #{tag.name}
											td #{tag.category}
											td 
												button(type="button"  data-toggle="tooltip", data-placement="top", title="Edit Tag" data-tag=JSON.stringify(tag)).btn.btn-outline-primary.btn-icon.editBtn.mr-2
													i.czi-edit
														

	#update-modal.modal-quick-view.modal.fade(tabindex='-1')
		.modal-dialog
			.modal-content
				.modal-header
					h4.modal-title.product-title
						a
							| Update Tag
							i.czi-arrow-right.font-size-lg.ml-2
					button(type='button' class='close' data-dismiss='modal' aria-label='Close')
						span(aria-hidden='true') &times;
				.modal-body
					.row.justify-content-center
						.col-lg-10.pr-lg-0
							.form-group
								label(for="text-input") ID
								input(type="text", name='id' id="text-id" readonly).form-control
							.form-group
								label(for="search-input") Name
								input(type="search", name='name' id="text-name").form-control
							.form-group
								label(for="select-input") Category
								select(id="text-category" name='category').form-control.custom-select
									each cat in tagCategories
										option(value=cat.category) #{cat.category}
							button().btn.btn-primary.btn-block#update-btn.mt-4
								i.czi-loading.font-size-base.mr-2
								| Update Tag

				 
	include ../recipe-partials/toast-generic-success