extends recipe-partials/layout-grocery

//- Override default config variables
append config
  - var pageTitle = 'Vegan Recipes'
  - var parentMenu = 'Home'
  - var breadcrumbs = [{'title': 'Catalog'}]
  - var showSidebar = true
  - var fixedTop = true
  - var isModalQuickView = true
  - var isModalAddToCart = true
  - var includeFirebase = true
  - var includeIsotope = true
  - var includeAutoComplete = true
  - var includeRecipe = true
  - var includeRecipeSearch = true
  - var includeCreateRecipe = false
  - var includeGroceryList = false
  - var includeUpdateRecipe = false
  - var includeTest = false
append scripts
  script(src='/js/recipes/recipe-catalog.js')
  script(src='/js/recipes/navbar.js')
  
//- Page Content
block content

  // Sorting
  section.d-md-flex.justify-content-between.align-items-center.mb-4.pb-2.pt-3
    h1.h2.mb-3.mb-md-0.mr-3 Product catalog
    .d-flex.align-items-center
      .form-inline.flex-nowrap.mr-3.mr-sm-4.pb-3
        label(for="sorting").text-light.opacity-75.text-nowrap.mr-2.d-none.d-sm-block Sort by:
        select.form-control.custom-select#sorting
          option(value="az" selected) A - Z Order
          option(value="za") Z - A Order
          option(value="popular") Popularity
        span.font-size-sm.text-light.opacity-75.text-nowrap.ml-2.d-none.d-md-block
        | of #{recipes.length} recipes
  

  // Product grid
  .row.mx-n2
    each recipe in recipes
      - var quantityBtnsName = 'quantity' + '-' + recipe.id;
      - var x1 = recipe.id + '-x1';
      - var x2 = recipe.id + '-x2';
      - var x3 = recipe.id + '-x3';
      - var x4 = recipe.id + '-x4';
      // Product
      .col-md-3.col-sm-6.col-xs-2.px-2.mb-4
        .card.product-card
          span.badge.badge-danger.badge-shadow #{recipe.views}
          if user
            button(type='button' data-user-id=user.id data-recipe-name=recipe.name data-recipe-id=recipe.id).btn-wishlist-left.btn-sm.d-xl-none
              i.czi-basket
            if user.favorites.includes(recipe.id)
              button(type='button' data-user-id=user.id data-recipe-id=recipe.id).btn-wishlist.btn-sm.btn-primary.active
                i.czi-heart
            else
              button(type='button' data-user-id=user.id data-recipe-id=recipe.id).btn-wishlist.btn-sm
                i.czi-heart
          else 
            button(type='button' href='#signin-modal' data-toggle='modal' user-id=userId data-recipe-id=recipe.id).btn-wishlist.btn-sm.notLoggedIn
              i.czi-heart
          a(href='recipe/'+recipe.id).card-img-top.d-block.overflow-hidden
            if recipe.images
              img(src=recipe.images[0] alt='Product')
            else
              img(src="recipe-images/default.jpg" alt='Product')
          .card-body.py-2
            if recipe.author
              a(href='recipe/'+recipe.id).product-meta.d-block.font-size-sm.pb-1 #{recipe.author}
            else
              a(href='recipe/'+recipe.id).product-meta.d-block.font-size-sm.pb-1 Brother Nature
            h3.product-title.font-size-sm
              a(href='recipe/'+recipe.id).font-size-lg #{recipe.name}
            //.d-flex.justify-content-between
              .product-price
                span.text-accent test
              +star-rating(4)
          .card-body.card-body-hidden
            .text-center.pb-2
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio', name=quantityBtnsName, data-value='1', id=x1 checked).custom-control-input
                label.custom-option-label(for=x1) 1x
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio', name=quantityBtnsName, data-value='2', id=x2).custom-control-input
                label.custom-option-label(for=x2) 2x
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio', name=quantityBtnsName, data-value='3', id=x3).custom-control-input
                label.custom-option-label(for=x3) 3x
              .custom-control.custom-option.custom-control-inline.mb-2
                input(type='radio', name=quantityBtnsName, data-value='4', id=x4).custom-control-input
                label.custom-option-label(for=x4) 4x
            if user
              button(data-recipe-id=recipe.id data-user-id=user.id type='button' data-toggle='toast' data-target='#cart-toast').btn.btn-primary.btn-sm.btn-block.mb-2.addToGroceryBtn
                i.czi-cart.font-size-sm.mr-1
                | Add to Grocery List
            else
              button(href='#signin-modal' data-toggle='modal' data-recipe-id=recipe.id type='button').btn.btn-primary.btn-sm.btn-block.mb-2.addToGroceryBtn.notLoggedIn
                i.czi-cart.font-size-sm.mr-1
                | Add to Grocery List
            .text-center
              a(href='#quick-view' data-toggle='modal').nav-link-style.font-size-ms
                i.czi-eye.align-middle.mr-1
                | Quick view
        hr.d-sm-none


  // Center aligned
  if recipes.length == 0
    div#no-results-div.card.text-center
      .card-body
        h5.card-title
          | No Results Found!
        p.card-text.font-size-sm.text-muted
          | Try adjusting your search criteria
    .pt-4.pb-5.mb-4
    //- pagination.pug template
    //include recipe-partials/pagination

  //- toast-shop.pug template
  include recipe-partials/toast-shop
  include recipe-partials/toast-signed-in
  include recipe-partials/toast-signed-out
  
  
