extends recipe-partials/layout-grocery

//- Override default config variables
append config
  - var pageTitle = 'Vegan Recipes'
  - var parentMenu = 'Home'
  - var breadcrumbs = [{'title': 'Catalog'}]
  - var showSidebar = true
  - var includeFirebase = true
  - var includeIsotope = true
  - var includeAutoComplete = true
  - var includeRecipe = true
  - var includeRecipeSearch = true
  - var includeCreateRecipe = false
  - var includeGroceryList = false
  - var includeUpdateRecipe = false
  - var includeTest = false
  - var req = req
  
//- Page Content
block content

  // Sorting
  section.d-md-flex.justify-content-between.align-items-center.mb-4.pb-2
    h1.h2.mb-3.mb-md-0.mr-3 Product catalog
    .d-flex.align-items-center
      .d-none.d-sm-block.py-2.font-size-sm.text-muted.text-nowrap.mr-2 Sort by:
      ul.nav.nav-tabs.font-size-sm.mb-0
        li.nav-item
          a(id='sort-1' href='#').nav-link.active Name (A-Z)
        li.nav-item
          a(id='sort-2' href='#').nav-link Name (Z-A)
        li.nav-item
          a(id='sort-3' href='#').nav-link Random
  

  // Product grid
  #recipe-container.row.no-gutters.mx-n2
    .grid-sizer
    each recipe, index in recipes
      // Product
      - var myTags = "";
      - var myTagList = "";
      - if( recipe.tags == undefined || recipe.tags == null) {
      -   myTags = "";
      -   myTagsList = "";
      - } else {
      -    for (var i = 0; i < recipe.tags.length; ++i) {
      -       if(i < 1) {
      -         myTags = "tag-" + recipe.tags[i];
      -         myTagList = recipe.tags[i];
      -       } else {
      -         myTags = myTags + " " + "tag-"+recipe.tags[i];
      -         myTagList = myTagList + " " + recipe.tags[i];
      -       }
      -    }
      - }
      - var author = ""
      - if(recipe.attribution != undefined) {
      -     author = recipe.attribution.author
      - }
        div(class=myTags recipe-author=author recipe-tags=myTagList recipe-name=recipe.name recipe-description=recipe.description).col-xl-3.col-lg-6.col-md-4.col-sm-6.px-2.mb-3.recipe-card
          .card.product-card.card-static.pb-3
            button(type='button' data-toggle='tooltip' data-placement='left' title='Coming Soon!').btn-wishlist.btn-sm
              i.czi-heart
            a(href="recipe/"+recipe.id).card-img-top.d-block.overflow-hidden
              if recipe.images
                img(src=recipe.images[0] alt='Product').rounded-lg
              else
                img(src="recipe-images/default.jpg" alt='Product')
            .card-body.py-2
              //a(href='#').product-meta.d-block.font-size-xs.pb-1 #{recipe.tags[0]}
              h3.product-title.font-size-lg
                a(href="recipe/"+recipe.id) #{recipe.name}
              .product-price
                //span.text-accent $2.<small>99</small>
                if recipe.attribution
                  span.text-accent #{recipe.attribution.author}
            .product-floating-btn
              // -- add to cart button that shows on hover, check toast-shop.pug for details on this window -- 
              button(type='button' recipe-id=recipe.id data-toggle='toast').grocery-item-add-btn.btn.btn-primary.btn-shadow.btn-sm
                | +
                i.czi-view-list.font-size-base.ml-1

  // Center aligned
  div(style="display:none")#no-results-div.card.text-center
    .card-body
      h5.card-title
        | No Results Found!
      p.card-text.font-size-sm.text-muted
        | Try adjusting your search criteria
  .pt-4.pb-5.mb-4
    //- pagination.pug template
    //include recipe-partials/pagination

  //- toast-shop.pug template
  include recipe-partials/toast-shop
  include recipe-partials/toast-signed-in
  include recipe-partials/toast-signed-out
  
  
