extends recipe-partials/layout-profile
//- Override default config variables
append config
  - var pageTitle = 'Grocery List'
  - var parentMenu = 'Home'
  - var breadcrumbs = [{'title': 'Grocery List'}]
  - var includeFirebase = true
  - var includeIsotope = true
  - var includeAutoComplete = true
  - var includeRecipe = false
  - var includeRecipeSearch = true
  - var includeCreateRecipe = true
  - var includeGroceryList = true
  - var includeUpdateRecipe = false
  - var includeTest = false
  
//- Page Content
block content

  .container.pb-5.mb-2.mb-md-3
    .row
      section.col-lg-12
        // One item + Static controls + Dots inside + No loop
        // Related products carousel
        .cz-carousel.cz-controls-static.cz-controls-outside
          .cz-carousel-inner(data-carousel-options='{"items": 2, "controls": true, "nav": false, "autoHeight": true, "responsive": {"0":{"items":1},"500":{"items":2, "gutter": 18},"768":{"items":3, "gutter": 20}, "1100":{"items":4, "gutter": 30}}}')
            if user
              if user.groceryListItems
                each item in user.groceryListItems
                  div
                    .card.product-card.card-static
                      button(type="button", data-toggle="tooltip", data-placement="left", title="Add to wishlist").btn-wishlist.btn-sm
                        i.czi-heart
                      a(href="#").card-img-top.d-block.overflow-hidden
                        if item.images
                          img(src=item.images[0], alt="Product")
                        else
                          img(src='/recipe-images/default.jpg', alt="Product")
                      .card-body.py-2
                        a(href="#").product-meta.d-block.font-size-xs.pb-1
                          | #{item.author}
                        h3.product-title.font-size-sm
                          a(href="#") #{item.name}
                        .d-flex.justify-content-between
                          .product-price
                            span.text-accent $58.99
                          +star-rating(4)
                
  if list
    section.pb-5.mb-2.mb-xl-4 
      .row
        .col
          h2.h5.pt-2 Shopping List
        .col
          .btn-group(role="group", aria-label="Outline button group").float-right
            button(type="button").btn.btn-primary#show-checked
              | Show
              i.czi-check.ml-2
            button(type="button").btn.btn-outline-primary#hide-checked
              | Hide 
              i.czi-check.ml-2
      ul.list-group.mt-4
        .list-group.d-flex.justify-content-between.align-items-center
          //each items, cat in list.getItemsByCategory()
            a.list-group-item.list-group-item-action.list-group-item-accent #{cat}
            each item in items
                - var check = "icon-"+ item.id;
                a(data-text=item.id data-check=check).list-group-item.list-group-item-action.grocery-item
                  span(id=check).d-none
                    i.czi-check.mr-2
                  span(id=item.id)
                    | #{item.id}
                  each amt, recipeId in item.amountMap
                    - var cName = 'amt-'+recipeId + " " + recipeId
                    span(class=cName data-amount=amt).badge.badge-accent.ml-2.amount-badge
                      if map[recipeId] == 1
                        | #{amt}
                      else
                        | #{amt} x#{map[recipeId]}
                  each recipeId in item.recipes
                    span(class=recipeId).badge.badge-secondary.ml-2.float-right.d-none.d-md-block.recipe-badge
                      | #{recipeId}