extends recipe-partials/layout-grocery

//- Override default config variables
append config
  - var pageTitle = 'Grocery - Checkout'
  - var parentMenu = 'Home'
  - var breadcrumbs = [{'title': 'Checkout'}]
  - var groceryList = true
  
//- Page Content
block content

  // Checkout form
  
  section.pb-5
    h2.h3.pb-2.mb-grid-gutter.text-center Here are the recipes in your grocery list
    .cz-carousel.cz-controls-static.cz-controls-outside.cz-dots-enabled
      .cz-carousel-inner(data-carousel-options='{"items": 2, "gutter": 16, "controls": true, "autoHeight": true, "responsive": {"0":{"items":1}, "480":{"items":2}, "720":{"items":3}, "991":{"items":2}, "1140":{"items":3}, "1300":{"items":4}, "1500":{"items":5}}}')

        // Product
        each recipe in recipes
          div
            .card.product-card.card-static.pb-3
              button(type='button' data-toggle='tooltip' data-placement='left' title='Add to wishlist').btn-wishlist.btn-sm
                i.czi-heart
              a(href='grocery-single.html').card-img-top.d-block.overflow-hidden.text-center
                img(src=recipe.images[0] alt='Product' style="max-height:150px;")
              .card-body.py-2
                a(href='#').product-meta.d-block.font-size-xs.pb-1 -------
                h3.product-title.font-size-sm
                  a(href='grocery-single.html') #{recipe.name}
                .product-price
                  span.text-accent #{recipe.attribution.author}
              .product-floating-btn
                button(type='button' data-toggle='toast' data-target='#cart-toast').btn.btn-primary.btn-shadow.btn-sm
                  | +
                  i.czi-cart.font-size-base.ml-1
  
  section.pb-5.mb-2.mb-xl-4 
    .row
      .col
        h2.h5.pt-2 Shopping List 
      .col
        .btn-group(role="group", aria-label="Outline button group").float-right
          button(type="button").btn.btn-primary#show-checked
            | Show
            i.czi-check.ml-2
          button(type="button").btn.btn-outline-primary#hide-checked
            | Hide 
            i.czi-check.ml-2
    ul.list-group.mt-4
    .list-group.d-flex.justify-content-between.align-items-center
      each item in list.items
        - var check = "icon-"+ item.id;
        a(data-text=item.id data-check=check).list-group-item.list-group-item-action.grocery-item
          span(id=check).d-none
            i.czi-check.mr-2
          span(id=item.id)
            | #{item.id}
          each amt in item.amount
            span.badge.badge-accent.ml-2
              | #{amt} 
          each recipeId in item.recipes
            span.badge.badge-secondary.ml-2.float-right.d-none.d-md-block
              | #{recipeId}