extends recipe-partials/layout-grocery

//- Override default config variables
append config
  - var isPageTitle = false
  - var pageTitle = 'Update Recipe'
  - var parentMenu = 'Account'
  - var navbarTemplate = 'navbar-marketplace'
  - var footerTemplate = 'footer-marketplace'
  - var isFileUploadScript = true
  - var showSidebar = false
  - var showSidbar = true
  - var includeFirebase = true
  - var includeIsotope = true
  - var includeAutoComplete = false
  - var includeRecipe = false
  - var includeRecipeSearch = false
  - var includeCreateRecipe = false
  - var includeGroceryList = false
  - var includeUpdateRecipe = true
  - var includeTest = false

//- Page Content
block content

  //- dashboard-header.pug template
  //include partials/dashboard-header

  .container.mb-5.pb-3
    .bg-light.box-shadow-lg.rounded-lg.overflow-hidden
      .row

        // Sidebar
        aside.col-lg-4
          //- sidebar-dashboard.pug template
          //include partials/sidebar-dashboard

        // Content
        section.col-lg-12.pt-lg-4.pb-4.mb-3.ml-3
          .pt-2.px-4.pr-xl-5

            // Title
            .d-sm-flex.flex-wrap.justify-content-between.align-items-center.pb-2
              h2.h3.py-2.mr-2.text-center.text-sm-left Update Recipes
            .table-responsive
              table.table.table-striped
                thead
                  tr
                    th id
                    th name
                    th cookTime
                    th prepTime
                    th author
                    th link
                    th notes
                    th instructions
                    th images
                    th action
                tbody
                  each recipe in recipes
                    tr(data-id=recipe.id)
                      td(data-name="id").update-column #{recipe.id}
                      td(data-name="name").update-column #{recipe.name}
                      td(data-name="cookTime").update-column #{recipe.cookTime}
                      td(data-name="prepTime").update-column #{recipe.prepTime}
                      td(data-name="attAuthor").update-column #{recipe.attAuthor}
                      td(data-name="attLink").update-column Link
                      td(data-name="notes").update-column notes
                      td(data-name="instrutions").update-column instructions
                      if recipe.images
                        td(data-name="images").update-column  [#{recipe.images.length}]
                      else 
                        td(data-name="images").update-column  [0]
                      td 
                        form.form-inline.pt-2
                          input(id=recipe.id type="text").form-control.mb-3.mr-sm-4
                          button(ri-id=recipe.id).update-recipe-btn.btn.btn-primary.mb-3 Update
                          - var spanid = "col-" + recipe.id
                          span(id=spanid).ml-3 id
                    
  include recipe-partials/toast-generic-success