//- Include config.pug file that holds all variables
block config
  include ../helpers/config

//- Mixins - reusable code snippets
include ../helpers/mixins

doctype html
html(lang="en")

  //- head.pug template
  include head 
  
  // Body
  body.bg-secondary
      
    //- modal-signin.pug template
    include modal-signin


    // Navbar
    header.bg-light.box-shadow-sm.fixed-top
      .navbar.navbar-expand-lg.navbar-light
        .container-fluid
          a(href='/' style='min-width: 7rem;').navbar-brand.d-none.d-sm-block.mr-3.mr-xl-4.flex-shrink-0
            +image('/img/logo-dark.png', 'Cartzilla')(width='142')
          a(href='/' style='min-width: 4.625rem;').navbar-brand.d-sm-none.mr-2
            +image('/img/logo-icon.png', 'Cartzilla')(width='74')
          
          // Search
          .input-group-overlay.d-none.d-lg-block.mx-4
            input(type='text' id="recipe-search-input" placeholder='Search for products').form-control.appended-form-control
            .input-group-append-overlay
              a(href="#")#nav-bar-search-button.navbar-tool.input-group-text
               i.czi-search
          
          // Toolbar
          .navbar-toolbar.d-flex.flex-shrink-0.align-items-center.ml-xl-2
            a(href='#sideNav' data-toggle='sidebar').navbar-toggler
              span.navbar-toggler-icon
            a(href='#searchBox' data-toggle='collapse' role='button' aria-expanded='false', aria-controls='searchBox').navbar-tool.d-flex.d-lg-none
              span.navbar-tool-tooltip Search
              .navbar-tool-icon-box: i.navbar-tool-icon.czi-search
            a(id="wishlist-button" href='/my-favorites').navbar-tool.d-none.d-lg-flex
              span.navbar-tool-tooltip Wishlist
              .navbar-tool-icon-box: i.navbar-tool-icon.czi-heart
            a(href='#signin-modal' id='navbar-sign-in'  data-toggle='modal').navbar-tool.ml-1.ml-lg-0.mr-n1.mr-lg-2
              .navbar-tool-icon-box: i.navbar-tool-icon.czi-user
              .navbar-tool-text.ml-n3
                small Hello, Sign in
                | My Account
            div(id="navbar-user-account" style="display:none").navbar-tool.dropdown.ml-2
              a(href='/user-settings').navbar-tool-icon-box.border.dropdown-toggle
                +image('/img/marketplace/account/avatar-sm.png', 'Createx Studio')(width='32')
              a(id="navbar-sign-in-link" href='/user-settings').navbar-tool-text.ml-n1
                small#navbar-signed-in-user User
                span#navbar-signed-in-user-description newbie
              .dropdown-menu.dropdown-menu-right(style='min-width: 14rem;')
                h6.dropdown-header Account
                a(href='/user-settings').dropdown-item.d-flex.align-items-center
                  i.czi-settings.opacity-60.mr-2
                  | Settings
                a(href='/my-recipes').dropdown-item.d-flex.align-items-center
                  i.czi-basket.opacity-60.mr-2
                  | My Recipes
                a(href='/my-favorites').dropdown-item.d-flex.align-items-center
                  i.czi-heart.opacity-60.mr-2
                  | Favorites
                  span.font-size-xs.text-muted.ml-auto 4 
                .dropdown-divider
                a(href="#")#sign-out-button.dropdown-item.d-flex.align-items-center
                  i.czi-sign-out.opacity-60.mr-2
                  | Sign Out
            .navbar-tool.dropdown.ml-3
              a(id="nav-bar-cart-link").navbar-tool-icon-box.bg-secondary.dropdown-toggle
                #grocery-list-badge.span.navbar-tool-label 0
                i.navbar-tool-icon.czi-cart
              a(id="nav-bar-my-grocery-list-link").navbar-tool-text
                small My Grocery List
                span#grocery-list-items 0 
                | &nbsp;items
              .dropdown-menu.dropdown-menu-right(style='width: 20rem;')
                .widget.widget-cart.px-3.pt-2.pb-3
                  div#grocery-list-container(style='height: 15rem;' data-simplebar data-simplebar-auto-hide='false')
                    #grocery-list-no-items.widget-cart-item.py-2.border-bottom
                      card.text-center
                        .card-body
                          h5.card-title
                            | No Recipes in your list!
                          p.card-text.font-size-sm.text-muted
                            | Add a few recipes from the catalog
                    
                  .d-flex.flex-wrap.justify-content-between.align-items-center.pt-3
                    .font-size-sm.mr-2.py-2
                      span.text-muted Total:
                      span.text-accent.font-size-base.ml-1
                        span#grocery-list-items-hover
                        | &nbsp;items
                    button(type="button" disabled)#grocery-list-show-button.btn.btn-primary.btn-icon
                      i.czi-card.mr-2.font-size-base.align-middle
                      | View List
                      i.czi-arrow-right.ml-1.mr-n1

      // Search collapse
      #searchBox.collapse
        .card.pt-2.pb-4.border-0.rounded-0
          .container
            .input-group-overlay
              .input-group-prepend-overlay
                a(href="#")#collapsed-nav-bar-search-button.navbar-tool.input-group-text
                 i.czi-search
              input(type='text' placeholder='Search for recipes')#collapsed-search-input.form-control.prepended-form-control
              

    // Sidebar menu
    if showSidebar
        aside#sideNav.cz-sidebar.cz-sidebar-fixed(style='padding-top: 5rem;')
          button(type='button' class='close' data-dismiss='sidebar' aria-label='Close')
            span.d-inline-block.font-size-xs.font-weight-normal.align-middle Close sidebar
            span(aria-hidden='true').d-inline-block.align-middle.ml-2 &times;
          .cz-sidebar-inner
            ul(role='tablist' style='min-height: 3rem;').nav.nav-tabs.nav-justified.mt-2.mt-lg-4.mb-0
              li.nav-item
                a(href='#categories' data-toggle='tab' role='tab').nav-link.font-weight-medium.active Categories
              li.nav-item
                a(href='#menu' data-toggle='tab' role='tab').nav-link.font-weight-medium Admin
            .cz-sidebar-body.pt-3.pb-0(data-simplebar)
              .tab-content

                // Categories
                #categories.sidebar-nav.tab-pane.fade.show.active(role='tabpanel')
                  .widget.widget-categories
                    #shop-categories.accordion
                      each tags, category in newTags
                        - var catId = category.trim().replace(new RegExp(' ', 'g'),"-");
                        - catId = catId.replace(/[^a-zA-Z0-9-_]/g, ''); //remove anything that wont be put in a url
    
                        // level1.name
                        .card.border-bottom
                          .card-header
                            h3.accordion-heading.font-size-base.px-grid-gutter
                              a(href="#"+catId role='button' data-toggle='collapse' aria-expanded='false' aria-controls=catId).collapsed.py-3
                                span.d-flex.align-items-center
                                  i(class=category).font-size-lg.opacity-60.mt-n1.mr-2
                                  | #{category}
                                span.accordion-indicator
                          div(id=catId data-parent='#shop-categories').collapse
                            .card-body.px-grid-gutter.pb-4
                              .widget.widget-links
                                ul.widget-list
                                  li.widget-list-item
                                    a(href='#').tag-filter.tag-view-all.widget-list-link View All
                                  each tag in tags
                                    li.widget-list-item
                                      a(id=tag.id href='#').tag-filter.widget-list-link #{tag.name}
                                      



                // Menu
                #menu.sidebar-nav.tab-pane.fade(role='tabpanel')
                  .widget.widget-categories
                    #shop-menu.accordion
                      // Homepages
                      .card.border-bottom
                        .card-header
                          h3.accordion-heading.font-size-base.px-grid-gutter
                            a(href='#home' role='button' data-toggle='collapse' aria-expanded='false' aria-controls='home').collapsed.py-3
                              | Manage Recipes
                              span.accordion-indicator
                        #home.collapse(data-parent='#shop-menu')
                          .card-body.px-grid-gutter.pb-4
                            .widget.widget-links
                              ul.widget-list
                                li.widget-list-item
                                  a(href='/add').widget-list-link Create New Recipe
                                li.widget-list-item
                                  a(href='#').widget-list-link View Ingredients - Coming Soon
                                li.widget-list-item
                                  a(href='#').widget-list-link Update Tags - Coming Soon
                                  
                     
        //.px-grid-gutter.pt-5.pb-4.mb-2
        //  .d-flex.mb-3
        //    i.czi-support.h4.mb-0.font-weight-normal.text-primary.mt-1.mr-1
        //    .pl-2
        //      .text-muted.font-size-sm Support
        //      a(href='tel:+100331697720').nav-link-style.font-size-md +1 (00) 33 169 7720
        //  .d-flex.mb-3
        //    i.czi-mail.h5.mb-0.font-weight-normal.text-primary.mt-1.mr-1
        //    .pl-2
        //      .text-muted.font-size-sm Email
        //      a(href='mailto:customer@example.com').nav-link-style.font-size-md customer@example.com
        //  h6.pt-2.pb-1 Follow us
        //  a(href="#").social-btn.sb-outline.sb-twitter.mr-2.mb-2
        //    i.czi-twitter
        //  a(href="#").social-btn.sb-outline.sb-facebook.mr-2.mb-2
        //    i.czi-facebook
        //  a(href="#").social-btn.sb-outline.sb-instagram.mr-2.mb-2
        //    i.czi-instagram
        //  a(href="#").social-btn.sb-outline.sb-youtube.mr-2.mb-2
        //    i.czi-youtube




    // Page
    - var className = ""
    - if( showSidebar ) {
    -     className = "sidebar-fixed-enabled";
    - }
     
    main(class=className style='padding-top: 5rem;')
      section.px-lg-3.pt-4
        .px-3.pt-2

          // Page title + breadcrumb
          if breadcrumbs.length
            nav(aria-label='breadcrumb').mb-4
              ol.breadcrumb.flex-lg-nowrap
                li.breadcrumb-item
                  a( href='/').text-nowrap
                    i.czi-home
                    | Home
                each breadcrumb in breadcrumbs
                  if breadcrumb.link
                    li.breadcrumb-item.text-nowrap
                      - var linkatts = {'href': breadcrumb.link}
                      a()&attributes(linkatts)= breadcrumb.title
                  else
                    li.breadcrumb-item.text-nowrap.active(aria-current='page')= breadcrumb.title

          // Content
          block content

      // Footer
      footer.bg-dark.pt-5
        .px-lg-3.pt-2.pb-4
          .mx-auto.px-3(style='max-width: 80rem;')
            .row
              .col-xl-2.col-lg-3.col-sm-4.pb-2.mb-4
                .mt-n1
                  a(href='#').d-inline-block.align-middle
                    +image('/img/footer-logo-light.png', 'Cartzilla')(width='117').d-block.mb-4
                .btn-group.dropdown.disable-autohide
                  button(type='button' data-toggle='dropdown').btn.btn-outline-light.border-light.btn-sm.dropdown-toggle.px-2
                    +image('/img/flags/en.png', 'English')(width='20').mr-2
                    | Eng / $
                  ul.dropdown-menu
                    li.dropdown-item
                      select.custom-select.custom-select-sm
                        option(value='usd') $ USD
                        option(value='eur') € EUR
                        option(value='ukp') £ UKP
                        option(value='jpy') ¥ JPY
                    li
                      a(href='#').dropdown-item.pb-1
                        +image('/img/flags/fr.png', 'Français')(width='20').mr-2
                        | Français
                    li
                      a(href='#').dropdown-item.pb-1
                        +image('/img/flags/de.png', 'Deutsch')(width='20').mr-2
                        | Deutsch
                    li
                      a(href='#').dropdown-item
                        +image('/img/flags/it.png', 'Italiano')(width='20').mr-2
                        | Italiano
              .col-xl-3.col-lg-4.col-sm-4
                .widget.widget-links.widget-light.pb-2.mb-4
                  h3.widget-title.text-light Product catalog
                  ul.widget-list
                    li.widget-list-item: a(href='#').widget-list-link Special offers
                    li.widget-list-item: a(href='#').widget-list-link Bakery
                    li.widget-list-item: a(href='#').widget-list-link Fruits and Vegetables
                    li.widget-list-item: a(href='#').widget-list-link Dairy and Eggs
                    li.widget-list-item: a(href='#').widget-list-link Meat and Poultry
                    li.widget-list-item: a(href='#').widget-list-link Fish and Seafood
                    li.widget-list-item: a(href='#').widget-list-link Sauces and Spices
                    li.widget-list-item: a(href='#').widget-list-link Canned Food and Oil
                    li.widget-list-item: a(href='#').widget-list-link Alcoholic Beverages
                    li.widget-list-item: a(href='#').widget-list-link Soft Drinks and Juice
                    li.widget-list-item: a(href='#').widget-list-link Packets, Cereals and Poultry
                    li.widget-list-item: a(href='#').widget-list-link Frozen
                    li.widget-list-item: a(href='#').widget-list-link Personal hygiene
                    li.widget-list-item: a(href='#').widget-list-link Kitchenware
              .col-xl-3.col-lg-4.col-sm-4
                .widget.widget-links.widget-light.pb-2.mb-4
                  h3.widget-title.text-light Company
                  ul.widget-list
                    li.widget-list-item: a(href='#').widget-list-link About us
                    li.widget-list-item: a(href='#').widget-list-link Store locator
                    li.widget-list-item: a(href='#').widget-list-link Careers at Cartzilla
                    li.widget-list-item: a(href='#').widget-list-link Contacts
                    li.widget-list-item: a(href='#').widget-list-link Help center
                    li.widget-list-item: a(href='#').widget-list-link Actions and News
                .widget.widget-light.pb-2.mb-4
                  h3.widget-title.text-light Follow us
                  a(href="#").social-btn.sb-light.sb-twitter.mr-2.mb-2
                    i.czi-twitter
                  a(href="#").social-btn.sb-light.sb-facebook.mr-2.mb-2
                    i.czi-facebook
                  a(href="#").social-btn.sb-light.sb-instagram.mr-2.mb-2
                    i.czi-instagram
                  a(href="#").social-btn.sb-light.sb-youtube.mr-2.mb-2
                    i.czi-youtube
              .col-xl-4.col-sm-8
                .widget.pb-2.mb-4
                  h3.widget-title.text-light.pb-1 Stay informed
                  form(action='https://studio.us12.list-manage.com/subscribe/post-json?u=c7103e2c981361a6639545bd5&amp;id=29ca296126&c=?' method='get' name='mc-embedded-subscribe-form')#mc-embedded-subscribe-form.validate
                    .input-group.input-group-overlay.flex-nowrap
                      .input-group-prepend-overlay
                        span.input-group-text.text-muted.font-size-base
                          i.czi-mail
                      input(type='email' name='EMAIL' id='mce-EMAIL' value='' placeholder='Your email' required).form-control.prepended-form-control
                      .input-group-append
                        button(type='submit' name='subscribe')#mc-embedded-subscribe.btn.btn-primary Subscribe*
                    // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                    div(style='position: absolute; left: -5000px;' aria-hidden='true')
                      input(type='text' name='b_c7103e2c981361a6639545bd5_29ca296126' tabindex='-1')
                    small#mc-helper.form-text.text-light.opacity-50 *Subscribe to our newsletter to receive early discount offers, updates and new products info.
                    .subscribe-status
                .widget.pb-2.mb-4
                  h3.widget-title.text-light.pb-1 Download our app
                  .d-flex.flex-wrap
                    .mr-2.mb-2
                      a(href='#' role='button').btn-market.btn-apple
                        span.btn-market-subtitle Download on the
                        span.btn-market-title App Store
                    .mb-2
                      a(href='#' role='button').btn-market.btn-google
                        span.btn-market-subtitle Download on the
                        span.btn-market-title Google Play
        .bg-darker.px-lg-3.py-3
          .d-sm-flex.justify-content-between.align-items-center.mx-auto.px-3(style='max-width: 80rem;')
            .font-size-xs.text-light.opacity-50.text-center.text-sm-left.py-3
              | © All rights reserved. Made by 
              a(href='https://createx.studio/' target='_blank' rel='noopener').text-light Createx Studio
            .py-3
              +image('/img/cards-alt.png', 'Payment methods')(width='187').d-block.mx-auto.mx-sm-left

  include toast-generic-success
  
    // Back To Top Button
    a(href='#top' data-scroll).btn-scroll-top
      span.btn-scroll-top-tooltip.text-muted.font-size-sm.mr-2 Top
      i.btn-scroll-top-icon.czi-arrow-up    
    

    // Back To Top Button
    a(href='#top' data-scroll).btn-scroll-top
      span.btn-scroll-top-tooltip.text-muted.font-size-sm.mr-2 Top
      i.btn-scroll-top-icon.czi-arrow-up    
    
    script()&attributes(isNestedFile ? {'src': '../js/vendor.min.js'} : {'src': '/js/vendor.min.js'})
    script()&attributes(isNestedFile ? {'src': '../js/theme.min.js'} : {'src': '/js/theme.min.js'})
    script(src='/js/search/isotope.pkgd.min.js')
  
  
