doctype true
head
  //if gte mso 9
    xml
      o:officedocumentsettings
        o:allowpng
          o:pixelsperinch 96
  meta(content='text/html; charset=utf-8' http-equiv='Content-Type')
  meta(content='width=device-width' name='viewport')
  // [if !mso] <!
  meta(content='IE=edge' http-equiv='X-UA-Compatible')
  // <![endif]
  title
  // [if !mso] <!
  // <![endif]
  style(type='text/css').
    body {
    margin: 0;
    padding: 0;
    }
    table,
    td,
    tr {
    vertical-align: top;
    border-collapse: collapse;
    }
    * {
    line-height: inherit;
    }
    a[x-apple-data-detectors=true] {
    color: inherit !important;
    text-decoration: none !important;
    }
  style#media-query(type='text/css').
    @media (max-width: 720px) {
    .block-grid,
    .col {
    min-width: 320px !important;
    max-width: 100% !important;
    display: block !important;
    }
    .block-grid {
    width: 100% !important;
    }
    .col {
    width: 100% !important;
    }
    .col>div {
    margin: 0 auto;
    }
    img.fullwidth,
    img.fullwidthOnMobile {
    max-width: 100% !important;
    }
    .no-stack .col {
    min-width: 0 !important;
    display: table-cell !important;
    }
    .no-stack.two-up .col {
    width: 50% !important;
    }
    .no-stack .col.num4 {
    width: 33% !important;
    }
    .no-stack .col.num8 {
    width: 66% !important;
    }
    .no-stack .col.num4 {
    width: 33% !important;
    }
    .no-stack .col.num3 {
    width: 25% !important;
    }
    .no-stack .col.num6 {
    width: 50% !important;
    }
    .no-stack .col.num9 {
    width: 75% !important;
    }
    .video-block {
    max-width: none !important;
    }
    .mobile_hide {
    min-height: 0px;
    max-height: 0px;
    max-width: 0px;
    display: none;
    overflow: hidden;
    font-size: 0px;
    }
    .desktop_hide {
    display: block !important;
    max-height: none !important;
    }
    }
//if IE
  .ie-browser
table.nl-container(bgcolor='#fcf9f3' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; min-width: 320px; Margin: 0 auto; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #fcf9f3; width: 100%;' valign='top' width='100%')
  tbody
    tr(style='vertical-align: top;' valign='top')
      td(style='word-break: break-word; vertical-align: top;' valign='top')
        //if (mso)|(IE)
          table(width='100%' cellpadding='0' cellspacing='0' border='0')
            tr
              td(align='center' style='background-color:#fcf9f3')
        div(style='background-color:transparent;')
          .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 700px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:700px')
                        tr.layout-full-width(style='background-color:transparent')
              //if (mso)|(IE)
                td(align='center' width='700' style='background-color:transparent;width:700px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
              .col.num12(style='min-width: 320px; max-width: 700px; display: table-cell; vertical-align: top; width: 700px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                    // <![endif]
                    .mobile_hide
                      table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                        tbody
                          tr(style='vertical-align: top;' valign='top')
                            td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;' valign='top')
                              table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' height='35' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid transparent; height: 35px; width: 100%;' valign='top' width='100%')
                                tbody
                                  tr(style='vertical-align: top;' valign='top')
                                    td(height='35' style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                      span
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        div(style='background-color:transparent;')
          .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 700px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #f4f5f5;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:#f4f5f5;')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:700px')
                        tr.layout-full-width(style='background-color:#f4f5f5')
              //if (mso)|(IE)
                td(align='center' width='700' style='background-color:#f4f5f5;width:700px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
              .col.num12(style='min-width: 320px; max-width: 700px; display: table-cell; vertical-align: top; width: 700px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                    // <![endif]
                    table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                      tbody
                        tr(style='vertical-align: top;' valign='top')
                          td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;' valign='top')
                            table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' height='35' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid transparent; height: 35px; width: 100%;' valign='top' width='100%')
                              tbody
                                tr(style='vertical-align: top;' valign='top')
                                  td(height='35' style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                    span
                    .img-container.center.autowidth(align='center' style='padding-right: 0px;padding-left: 0px;')
                      //if mso
                        table(width='100%' cellpadding='0' cellspacing='0' border='0')
                          tr(style='line-height:0px')
                            td(style='padding-right: 0px;padding-left: 0px;' align='center')
                      img.center.autowidth(align='center' alt='Alternate text' border='0' src='http://veganrecipes.ddns.net/img/marketplace/account/avatar-sm.png' style='text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; width: 100%; max-width: 64px; display: block;' title='Alternate text' width='64')
                      //if mso
                    //if mso
                      table(width='100%' cellpadding='0' cellspacing='0' border='0')
                        tr
                          td(style='padding-right: 55px; padding-left: 50px; padding-top: 30px; padding-bottom: 10px; font-family: Tahoma, sans-serif')
                    div(style='color:#393d47;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.5;padding-top:30px;padding-right:55px;padding-bottom:10px;padding-left:50px;')
                      div(style='line-height: 1.5; font-size: 12px; color: #393d47; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 18px;')
                        p(style='font-size: 14px; line-height: 1.5; word-break: break-word; text-align: center; mso-line-height-alt: 21px; margin: 0;')
                          strong
                            span(style='font-size: 50px;') New Recipe Added!
                    //if mso
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        div(style='background-color:transparent;')
          .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 700px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #f4f5f5;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:#f4f5f5;')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:700px')
                        tr.layout-full-width(style='background-color:#f4f5f5')
              //if (mso)|(IE)
                td(align='center' width='700' style='background-color:#f4f5f5;width:700px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
              .col.num12(style='min-width: 320px; max-width: 700px; display: table-cell; vertical-align: top; width: 700px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                    // <![endif]
                    //if mso
                      table(width='100%' cellpadding='0' cellspacing='0' border='0')
                        tr
                          td(style='padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: Tahoma, sans-serif')
                    div(style='color:#393d47;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.5;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;')
                      div(style='line-height: 1.5; font-size: 12px; color: #393d47; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 18px;')
                        p(style='font-size: 30px; line-height: 1.5; word-break: break-word; text-align: center; mso-line-height-alt: 45px; margin: 0;')
                          - var fullName = newRecipe.name + ' by ' + newRecipe.author
                          span(style='font-size: 30px;') #{fullName}
                    //if mso
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        div(style='background-color:transparent;')
          .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 700px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #f4f5f5;')
            div(style="border-collapse: collapse;display: table;width: 100%;background-color:#f4f5f5;background-image:url('images/main_image_1.png');background-position:top left;background-repeat:no-repeat")
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:700px')
                        tr.layout-full-width(style='background-color:#f4f5f5')
              //if (mso)|(IE)
                td(align='center' width='700' style='background-color:#f4f5f5;width:700px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
              .col.num12(style='min-width: 320px; max-width: 700px; display: table-cell; vertical-align: top; width: 700px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                    // <![endif]
                    .button-container(align='center' style='padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;')
                      //if mso
                        table(width='100%' cellpadding='0' cellspacing='0' border='0' style='border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                          tr
                            td(style='padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px' align='center')
                              v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml' xmlns:w='urn:schemas-microsoft-com:office:word' href='http://veganrecipes.ddns.net/recipe-images/pancakes-1.jpg' style='height:37.5pt; width:265.5pt; v-text-anchor:middle;' arcsize='8%' stroke='false' fillcolor='#f4924a')
                                w:anchorlock
                                  v:textbox(inset='0,0,0,0')
                                    center(style='color:#ffffff; font-family:Tahoma, sans-serif; font-size:20px')
                      - var url = hostname + '/recipe/' + newRecipe.id;
                      a(href=url style='-webkit-text-size-adjust: none; text-decoration: none; display: inline-block; color: #ffffff; background-color: #f4924a; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; width: auto; width: auto; border-top: 0px solid #8a3b8f; border-right: 0px solid #8a3b8f; border-bottom: 0px solid #8a3b8f; border-left: 0px solid #8a3b8f; padding-top: 5px; padding-bottom: 5px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; text-align: center; mso-border-alt: none; word-break: keep-all;' target='_blank')
                        span(style='padding-left:60px;padding-right:60px;font-size:20px;display:inline-block;')
                          span(style='font-size: 16px; line-height: 2; word-break: break-word; mso-line-height-alt: 32px;')
                            span(data-mce-style='font-size: 20px; line-height: 40px;' style='font-size: 20px; line-height: 40px;')
                              strong View Recipe
                      //if mso
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        div(style='background-color:transparent;')
          .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 700px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #f4f5f5;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:#f4f5f5;')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:700px')
                        tr.layout-full-width(style='background-color:#f4f5f5')
              //if (mso)|(IE)
                td(align='center' width='700' style='background-color:#f4f5f5;width:700px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
              .col.num12(style='min-width: 320px; max-width: 700px; display: table-cell; vertical-align: top; width: 700px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                    // <![endif]
                    .img-container.center.fixedwidth(align='center' style='padding-right: 0px;padding-left: 0px;')
                      //if mso
                        table(width='100%' cellpadding='0' cellspacing='0' border='0')
                          tr(style='line-height:0px')
                            td(style='padding-right: 0px;padding-left: 0px;' align='center')
                      - var imageSrc = newRecipe.images[0] || '/recipe-images/default.jpg';
                      - imageSrc = hostname + imageSrc
                      img.center.fixedwidth(align='center' alt='Alternate text' border='0' src=imageSrc style='text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; width: 100%; max-width: 420px; display: block;' title='Alternate text' width='420')
                      //if mso
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        div(style='background-color:transparent;')
          .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 700px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #ffffff;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:#ffffff;')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:700px')
                        tr.layout-full-width(style='background-color:#ffffff')
              //if (mso)|(IE)
                td(align='center' width='700' style='background-color:#ffffff;width:700px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
              .col.num12(style='min-width: 320px; max-width: 700px; display: table-cell; vertical-align: top; width: 700px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                    // <![endif]
                    table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                      tbody
                        tr(style='vertical-align: top;' valign='top')
                          td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;' valign='top')
                            table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' height='30' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid transparent; height: 30px; width: 100%;' valign='top' width='100%')
                              tbody
                                tr(style='vertical-align: top;' valign='top')
                                  td(height='30' style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                    span
                    //if mso
                      table(width='100%' cellpadding='0' cellspacing='0' border='0')
                        tr
                          td(style='padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 20px; font-family: Tahoma, sans-serif')
                    div(style='color:#393d47;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:20px;padding-left:10px;')
                      div(style='font-size: 14px; line-height: 1.2; color: #393d47; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 17px;')
                        p(style='font-size: 14px; line-height: 1.2; word-break: break-word; text-align: center; mso-line-height-alt: 17px; margin: 0;')
                          strong
                            span(style='font-size: 30px;') Most Popular Recipes
                    //if mso
                    table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                      tbody
                        tr(style='vertical-align: top;' valign='top')
                          td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;' valign='top')
                            table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 2px solid #D34C1D; width: 10%;' valign='top' width='10%')
                              tbody
                                tr(style='vertical-align: top;' valign='top')
                                  td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                    span
                    table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                      tbody
                        tr(style='vertical-align: top;' valign='top')
                          td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;' valign='top')
                            table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' height='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid transparent; height: 0px; width: 100%;' valign='top' width='100%')
                              tbody
                                tr(style='vertical-align: top;' valign='top')
                                  td(height='0' style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                    span
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        div(style='background-color:transparent;')
          .block-grid.three-up(style='Margin: 0 auto; min-width: 320px; max-width: 700px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #ffffff;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:#ffffff;background-image:;background-position:top left;background-repeat:no-repeat')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:700px')
                        tr.layout-full-width(style='background-color:#ffffff')
              each r in top3Recipes
                //if (mso)|(IE)
                  td(align='center' width='233' style='background-color:#ffffff;width:233px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                    table(width='100%' cellpadding='0' cellspacing='0' border='0')
                      tr
                        td(style='padding-right: 5px; padding-left: 5px; padding-top:5px; padding-bottom:5px;')
                .col.num4(style='max-width: 320px; min-width: 233px; display: table-cell; vertical-align: top; width: 233px;')
                  div(style='width:100% !important;')
                    // [if (!mso)&(!IE)] <!
                    div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 5px; padding-left: 5px;')
                      // <![endif]
                      .img-container.center.fixedwidth.fullwidthOnMobile(align='center' style='padding-right: 10px;padding-left: 10px;')
                        //if mso
                          table(width='100%' cellpadding='0' cellspacing='0' border='0')
                            tr(style='line-height:0px')
                              td(style='padding-right: 10px;padding-left: 10px;' align='center')
                        div(style='font-size:1px;line-height:10px') &nbsp;
                        - var imageSrc = r.images[0] || '/recipe-images/default.jpg';
                        - imageSrc = hostname + imageSrc
                        img.center.fixedwidth.fullwidthOnMobile(align='center' alt="I'm an image" border='0' src=imageSrc style='text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; width: 100%; max-width: 203px; display: block;' title="I'm an image" width='203')
                        div(style='font-size:1px;line-height:10px') &nbsp;
                        //if mso
                      //if mso
                        table(width='100%' cellpadding='0' cellspacing='0' border='0')
                          tr
                            td(style='padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: Tahoma, sans-serif')
                      div(style='color:#555555;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;')
                        div(style='line-height: 1.2; font-size: 12px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; color: #555555; mso-line-height-alt: 14px;')
                          p(style='font-size: 16px; line-height: 1.2; word-break: break-word; text-align: left; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 19px; margin: 0;')
                            strong #{r.name}
                      //if mso
                      //if mso
                        table(width='100%' cellpadding='0' cellspacing='0' border='0')
                          tr
                            td(style='padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: Tahoma, sans-serif')
                      div(style='color:#555555;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;')
                        div(style='line-height: 1.2; font-size: 12px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; color: #555555; mso-line-height-alt: 14px;')
                          p(style='font-size: 18px; line-height: 1.2; word-break: break-word; text-align: left; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 22px; margin: 0;')
                            span(style='font-size: 18px;')
                              span(style='color: #d34c1d;')
                                strong #{r.viewCount} &nbsp; Views
                            span(style='font-size: 18px;') &nbsp; &nbsp;#{r.author}
                      //if mso
                      .button-container(align='left' style='padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;')
                        //if mso
                          table(width='100%' cellpadding='0' cellspacing='0' border='0' style='border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                            tr
                              td(style='padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px' align='left')
                                v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml' xmlns:w='urn:schemas-microsoft-com:office:word' href='#' style='height:31.5pt; width:203.25pt; v-text-anchor:middle;' arcsize='10%' stroke='false' fillcolor='#f4924a')
                                  w:anchorlock
                                    v:textbox(inset='0,0,0,0')
                                      center(style='color:#ffffff; font-family:Tahoma, sans-serif; font-size:16px')
                        - var url = hostname + '/recipe/' + r.id;
                        a(href=url style='-webkit-text-size-adjust: none; text-decoration: none; display: inline-block; color: #ffffff; background-color: #f4924a; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; width: auto; width: auto; border-top: 1px solid #f4924a; border-right: 1px solid #f4924a; border-bottom: 1px solid #f4924a; border-left: 1px solid #f4924a; padding-top: 5px; padding-bottom: 5px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; text-align: center; mso-border-alt: none; word-break: keep-all;' target='_blank')
                          span(style='padding-left:45px;padding-right:45px;font-size:16px;display:inline-block;')
                            span(style='font-size: 16px; margin: 0; line-height: 2; word-break: break-word; mso-line-height-alt: 32px;')
                              strong View Recipe
                        //if mso
                      // [if (!mso)&(!IE)] <!
                    // <![endif]
        div(style='background-color:transparent;')
          .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 700px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #ffddb0;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:#ffddb0;')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:700px')
                        tr.layout-full-width(style='background-color:#ffddb0')
              //if (mso)|(IE)
                td(align='center' width='700' style='background-color:#ffddb0;width:700px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
              .col.num12(style='min-width: 320px; max-width: 700px; display: table-cell; vertical-align: top; width: 700px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                    // <![endif]
                    table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                      tbody
                        tr(style='vertical-align: top;' valign='top')
                          td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;' valign='top')
                            table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' height='20' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid transparent; height: 20px; width: 100%;' valign='top' width='100%')
                              tbody
                                tr(style='vertical-align: top;' valign='top')
                                  td(height='20' style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                    span
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        div(style='background-color:transparent;')
          .block-grid.three-up(style='Margin: 0 auto; min-width: 320px; max-width: 700px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #ffddb0;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:#ffddb0;')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:700px')
                        tr.layout-full-width(style='background-color:#ffddb0')
              //if (mso)|(IE)
                td(align='center' width='233' style='background-color:#ffddb0;width:233px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
              .col.num4(style='max-width: 320px; min-width: 233px; display: table-cell; vertical-align: top; width: 233px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                    // <![endif]
                    table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                      tbody
                        tr(style='vertical-align: top;' valign='top')
                          td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;' valign='top')
                            table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' height='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid transparent; height: 0px; width: 100%;' valign='top' width='100%')
                              tbody
                                tr(style='vertical-align: top;' valign='top')
                                  td(height='0' style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                    span
                    //if mso
                      table(width='100%' cellpadding='0' cellspacing='0' border='0')
                        tr
                          td(style='padding-right: 10px; padding-left: 10px; padding-top: 20px; padding-bottom: 20px; font-family: Tahoma, sans-serif')
                    div(style='color:#393d47;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.5;padding-top:20px;padding-right:10px;padding-bottom:20px;padding-left:10px;')
                      div(style='font-size: 14px; line-height: 1.5; color: #393d47; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 21px;')
                        p(style='font-size: 34px; line-height: 1.5; word-break: break-word; text-align: center; mso-line-height-alt: 51px; margin: 0;')
                          span(style='font-size: 34px;')
                            strong Check out these Recipes!
                    //if mso
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
                td(align='center' width='233' style='background-color:#ffddb0;width:233px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 10px; padding-left: 10px; padding-top:10px; padding-bottom:10px;')
              .col.num4(style='max-width: 320px; min-width: 233px; display: table-cell; vertical-align: top; width: 233px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:10px; padding-bottom:10px; padding-right: 10px; padding-left: 10px;')
                    // <![endif]
                    .img-container.center.fixedwidth.fullwidthOnMobile(align='center' style='padding-right: 0px;padding-left: 0px;')
                      //if mso
                        table(width='100%' cellpadding='0' cellspacing='0' border='0')
                          tr(style='line-height:0px')
                            td(style='padding-right: 0px;padding-left: 0px;' align='center')
                      - var url = hostname + '/recipe/' + featuredRecipes[0].id;
                      a(href=url style='outline:none' tabindex='-1' target='_blank')
                        - var imageSrc = hostname + featuredRecipes[0].images[0] || hostname + '/recipe-images/default.jpg'
                        img.center.fixedwidth.fullwidthOnMobile(align='center' alt='Alternate text' border='0' src=imageSrc style='text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; width: 100%; max-width: 213px; display: block;' title='Alternate text' width='213')
                      //if mso
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
                td(align='center' width='233' style='background-color:#ffddb0;width:233px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 10px; padding-left: 10px; padding-top:10px; padding-bottom:10px;')
              .col.num4(style='max-width: 320px; min-width: 233px; display: table-cell; vertical-align: top; width: 233px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:10px; padding-bottom:10px; padding-right: 10px; padding-left: 10px;')
                    // <![endif]
                    .img-container.center.fixedwidth.fullwidthOnMobile(align='center' style='padding-right: 0px;padding-left: 0px;')
                      //if mso
                        table(width='100%' cellpadding='0' cellspacing='0' border='0')
                          tr(style='line-height:0px')
                            td(style='padding-right: 0px;padding-left: 0px;' align='center')
                      - var url = hostname + '/recipe/' + featuredRecipes[1].id;
                      a(href=url style='outline:none' tabindex='-1' target='_blank')
                        - var imageSrc = hostname + featuredRecipes[1].images[0] || hostname + '/recipe-images/default.jpg'
                        img.center.fixedwidth.fullwidthOnMobile(align='center' alt='Alternate text' border='0' src=imageSrc style='text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; width: 100%; max-width: 213px; display: block;' title='Alternate text' width='213')
                      //if mso
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        div(style='background-color:transparent;')
          .block-grid.two-up(style='Margin: 0 auto; min-width: 320px; max-width: 700px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #ffddb0;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:#ffddb0;')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:700px')
                        tr.layout-full-width(style='background-color:#ffddb0')
              //if (mso)|(IE)
                td(align='center' width='350' style='background-color:#ffddb0;width:350px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 10px; padding-left: 10px; padding-top:10px; padding-bottom:10px;')
              .col.num6(style='min-width: 320px; max-width: 350px; display: table-cell; vertical-align: top; width: 350px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:10px; padding-bottom:10px; padding-right: 10px; padding-left: 10px;')
                    // <![endif]
                    .img-container.center.fixedwidth.fullwidthOnMobile(align='center' style='padding-right: 0px;padding-left: 0px;')
                      //if mso
                        table(width='100%' cellpadding='0' cellspacing='0' border='0')
                          tr(style='line-height:0px')
                            td(style='padding-right: 0px;padding-left: 0px;' align='center')
                      - var url = hostname + '/recipe/' + featuredRecipes[2].id;
                      a(href='#' style='outline:none' tabindex='-1' target='_blank')
                        - var imageSrc = hostname + featuredRecipes[2].images[0] || hostname + '/recipe-images/default.jpg'
                        img.center.fixedwidth.fullwidthOnMobile(align='center' alt='Alternate text' border='0' src=imageSrc style='text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; width: 100%; max-width: 330px; display: block;' title='Alternate text' width='330')
                      //if mso
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
                td(align='center' width='350' style='background-color:#ffddb0;width:350px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 10px; padding-left: 10px; padding-top:10px; padding-bottom:10px;')
              .col.num6(style='min-width: 320px; max-width: 350px; display: table-cell; vertical-align: top; width: 350px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:10px; padding-bottom:10px; padding-right: 10px; padding-left: 10px;')
                    // <![endif]
                    .img-container.center.fixedwidth.fullwidthOnMobile(align='center' style='padding-right: 0px;padding-left: 0px;')
                      //if mso
                        table(width='100%' cellpadding='0' cellspacing='0' border='0')
                          tr(style='line-height:0px')
                            td(style='padding-right: 0px;padding-left: 0px;' align='center')
                      - var url = hostname + '/recipe/' + featuredRecipes[3].id;
                      a(href=url style='outline:none' tabindex='-1' target='_blank')
                        - var imageSrc = hostname + featuredRecipes[3].images[0] || hostname + '/recipe-images/default.jpg'
                        img.center.fixedwidth.fullwidthOnMobile(align='center' alt='Alternate text' border='0' src=imageSrc style='text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; width: 100%; max-width: 330px; display: block;' title='Alternate text' width='330')
                      //if mso
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        div(style='background-color:transparent;')
          .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 700px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #ffddb0;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:#ffddb0;')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:700px')
                        tr.layout-full-width(style='background-color:#ffddb0')
              //if (mso)|(IE)
                td(align='center' width='700' style='background-color:#ffddb0;width:700px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
              .col.num12(style='min-width: 320px; max-width: 700px; display: table-cell; vertical-align: top; width: 700px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                    // <![endif]
                    table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                      tbody
                        tr(style='vertical-align: top;' valign='top')
                          td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;' valign='top')
                            table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' height='15' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid transparent; height: 15px; width: 100%;' valign='top' width='100%')
                              tbody
                                tr(style='vertical-align: top;' valign='top')
                                  td(height='15' style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                    span
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        div(style='background-color:transparent;')
          .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 700px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #ffffff;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:#ffffff;')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:700px')
                        tr.layout-full-width(style='background-color:#ffffff')
              //if (mso)|(IE)
                td(align='center' width='700' style='background-color:#ffffff;width:700px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
              .col.num12(style='min-width: 320px; max-width: 700px; display: table-cell; vertical-align: top; width: 700px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                    // <![endif]
                    table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                      tbody
                        tr(style='vertical-align: top;' valign='top')
                          td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;' valign='top')
                            table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' height='30' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid transparent; height: 30px; width: 100%;' valign='top' width='100%')
                              tbody
                                tr(style='vertical-align: top;' valign='top')
                                  td(height='30' style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                    span
                    //if mso
                      table(width='100%' cellpadding='0' cellspacing='0' border='0')
                        tr
                          td(style='padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 20px; font-family: Tahoma, sans-serif')
                    div(style='color:#555555;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:20px;padding-left:10px;')
                      div(style='font-size: 14px; line-height: 1.2; color: #555555; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 17px;')
                        p(style='font-size: 14px; line-height: 1.2; word-break: break-word; text-align: center; mso-line-height-alt: 17px; margin: 0;')
                          strong
                            span(style='font-size: 30px;') Recently Added Recipes
                    //if mso
                    table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                      tbody
                        tr(style='vertical-align: top;' valign='top')
                          td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;' valign='top')
                            table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 2px solid #D34C1D; width: 10%;' valign='top' width='10%')
                              tbody
                                tr(style='vertical-align: top;' valign='top')
                                  td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                    span
                    table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                      tbody
                        tr(style='vertical-align: top;' valign='top')
                          td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;' valign='top')
                            table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' height='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid transparent; height: 0px; width: 100%;' valign='top' width='100%')
                              tbody
                                tr(style='vertical-align: top;' valign='top')
                                  td(height='0' style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                    span
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        div(style='background-color:transparent;')
          .block-grid.two-up(style='Margin: 0 auto; min-width: 320px; max-width: 700px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #ffffff;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:#ffffff;')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:700px')
                        tr.layout-full-width(style='background-color:#ffffff')
              //if (mso)|(IE)
                td(align='center' width='350' style='background-color:#ffffff;width:350px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
              .col.num6(style='min-width: 320px; max-width: 350px; display: table-cell; vertical-align: top; width: 350px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                    // <![endif]
                    .img-container.center.autowidth(align='center' style='padding-right: 20px;padding-left: 20px;')
                      //if mso
                        table(width='100%' cellpadding='0' cellspacing='0' border='0')
                          tr(style='line-height:0px')
                            td(style='padding-right: 20px;padding-left: 20px;' align='center')
                      div(style='font-size:1px;line-height:20px') &nbsp;
                      - var url = hostname + '/recipe/' + recentRecipes[1].id
                      a(href=url style='outline:none' tabindex='-1' target='_blank')
                        - var imageSrc = hostname + '/recipe-images/default.jpg'
                        - if( recentRecipes[1].images ){
                        -   imageSrc = hostname + recentRecipes[1].images[0] || hostname + '/recipe-images/default.jpg'
                        - }
                        img.center.autowidth(align='center' alt='Alternate text' border='0' src=imageSrc style='text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; width: 100%; max-width: 310px; display: block;' title='Alternate text' width='310')
                      div(style='font-size:1px;line-height:20px') &nbsp;
                      //if mso
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
                td(align='center' width='350' style='background-color:#ffffff;width:350px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
              .col.num6(style='min-width: 320px; max-width: 350px; display: table-cell; vertical-align: top; width: 350px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                    // <![endif]
                    .mobile_hide
                      table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                        tbody
                          tr(style='vertical-align: top;' valign='top')
                            td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 15px;' valign='top')
                              table.divider_content(align='left' border='0' cellpadding='0' cellspacing='0' height='30' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 5px solid transparent; height: 30px; width: 15%;' valign='top' width='15%')
                                tbody
                                  tr(style='vertical-align: top;' valign='top')
                                    td(height='30' style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                      span
                    //if mso
                      table(width='100%' cellpadding='0' cellspacing='0' border='0')
                        tr
                          td(style='padding-right: 10px; padding-left: 10px; padding-top: 0px; padding-bottom: 10px; font-family: Tahoma, sans-serif')
                    div(style='color:#393d47;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:2;padding-top:0px;padding-right:10px;padding-bottom:10px;padding-left:10px;')
                      div(style='line-height: 2; font-size: 12px; color: #393d47; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 24px;')
                        p(style='font-size: 14px; line-height: 2; word-break: break-word; mso-line-height-alt: 28px; margin: 0;')
                          strong
                            span(style='font-size: 24px;') #{recentRecipes[1].name}
                    //if mso
                    .button-container(align='left' style='padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;')
                      //if mso
                        table(width='100%' cellpadding='0' cellspacing='0' border='0' style='border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                          tr
                            td(style='padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px' align='left')
                              v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml' xmlns:w='urn:schemas-microsoft-com:office:word' href='#' style='height:31.5pt; width:210.75pt; v-text-anchor:middle;' arcsize='10%' stroke='false' fillcolor='#f4924a')
                                w:anchorlock
                                  v:textbox(inset='0,0,0,0')
                                    center(style='color:#ffffff; font-family:Tahoma, sans-serif; font-size:16px')
                      - var url = hostname + '/recipe/' + recentRecipes[1].id
                      a(href=url style='-webkit-text-size-adjust: none; text-decoration: none; display: inline-block; color: #ffffff; background-color: #f4924a; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; width: auto; width: auto; border-top: 1px solid #f4924a; border-right: 1px solid #f4924a; border-bottom: 1px solid #f4924a; border-left: 1px solid #f4924a; padding-top: 5px; padding-bottom: 5px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; text-align: center; mso-border-alt: none; word-break: keep-all;' target='_blank')
                        span(style='padding-left:50px;padding-right:45px;font-size:16px;display:inline-block;')
                          span(style='font-size: 16px; line-height: 2; word-break: break-word; mso-line-height-alt: 32px;')
                            strong View Recipe
                      //if mso
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        div(style='background-color:transparent;')
          .block-grid.two-up(style='Margin: 0 auto; min-width: 320px; max-width: 700px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #ffffff;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:#ffffff;')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:700px')
                        tr.layout-full-width(style='background-color:#ffffff')
              //if (mso)|(IE)
                td(align='center' width='350' style='background-color:#ffffff;width:350px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
              .col.num6(style='min-width: 320px; max-width: 350px; display: table-cell; vertical-align: top; width: 350px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                    // <![endif]
                    .mobile_hide
                      table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                        tbody
                          tr(style='vertical-align: top;' valign='top')
                            td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 15px;' valign='top')
                              table.divider_content(align='left' border='0' cellpadding='0' cellspacing='0' height='30' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 5px solid transparent; height: 30px; width: 15%;' valign='top' width='15%')
                                tbody
                                  tr(style='vertical-align: top;' valign='top')
                                    td(height='30' style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                      span
                    //if mso
                      table(width='100%' cellpadding='0' cellspacing='0' border='0')
                        tr
                          td(style='padding-right: 10px; padding-left: 5px; padding-top: 0px; padding-bottom: 10px; font-family: Tahoma, sans-serif')
                    div(style='color:#393d47;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;line-height:2;padding-top:0px;padding-right:10px;padding-bottom:10px;padding-left:5px;')
                      div(style='line-height: 2; font-size: 12px; color: #393d47; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; mso-line-height-alt: 24px;')
                        p(style='font-size: 14px; line-height: 2; word-break: break-word; text-align: right; mso-line-height-alt: 28px; margin: 0;')
                          strong
                            span(style='font-size: 24px;') #{recentRecipes[2].name}
                    //if mso
                    .button-container(align='right' style='padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;')
                      //if mso
                        table(width='100%' cellpadding='0' cellspacing='0' border='0' style='border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                          tr
                            td(style='padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px' align='right')
                              v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml' xmlns:w='urn:schemas-microsoft-com:office:word' href='#' style='height:31.5pt; width:210.75pt; v-text-anchor:middle;' arcsize='10%' stroke='false' fillcolor='#f4924a')
                                w:anchorlock
                                  v:textbox(inset='0,0,0,0')
                                    center(style='color:#ffffff; font-family:Tahoma, sans-serif; font-size:16px')
                      - var url = hostname + '/recipe/' + recentRecipes[2].id
                      a(href=url style='-webkit-text-size-adjust: none; text-decoration: none; display: inline-block; color: #ffffff; background-color: #f4924a; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; width: auto; width: auto; border-top: 1px solid #f4924a; border-right: 1px solid #f4924a; border-bottom: 1px solid #f4924a; border-left: 1px solid #f4924a; padding-top: 5px; padding-bottom: 5px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; text-align: center; mso-border-alt: none; word-break: keep-all;' target='_blank')
                        span(style='padding-left:50px;padding-right:45px;font-size:16px;display:inline-block;')
                          span(style='font-size: 16px; line-height: 2; word-break: break-word; mso-line-height-alt: 32px;')
                            strong View Recipe
                      //if mso
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
                td(align='center' width='350' style='background-color:#ffffff;width:350px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
              .col.num6(style='min-width: 320px; max-width: 350px; display: table-cell; vertical-align: top; width: 350px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                    // <![endif]
                    .img-container.center.autowidth(align='center' style='padding-right: 20px;padding-left: 20px;')
                      //if mso
                        table(width='100%' cellpadding='0' cellspacing='0' border='0')
                          tr(style='line-height:0px')
                            td(style='padding-right: 20px;padding-left: 20px;' align='center')
                      div(style='font-size:1px;line-height:20px') &nbsp;
                      - var url = hostname + '/recipe/' + recentRecipes[2].id
                      a(href=url style='outline:none' tabindex='-1' target='_blank')
                        - var imageSrc = hostname + '/recipe-images/default.jpg'
                        - if( recentRecipes[2].images ){
                        -   imageSrc = hostname + recentRecipes[2].images[0] || hostname + '/recipe-images/default.jpg'
                        - }
                        img.center.autowidth(align='center' alt="I'm an image" border='0' src=imageSrc style='text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; width: 100%; max-width: 310px; display: block;' title="I'm an image" width='310')
                      div(style='font-size:1px;line-height:20px') &nbsp;
                      //if mso
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        div(style='background-color:transparent;')
          .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 700px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #ffffff;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:#ffffff;')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:700px')
                        tr.layout-full-width(style='background-color:#ffffff')
              //if (mso)|(IE)
                td(align='center' width='700' style='background-color:#ffffff;width:700px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
              .col.num12(style='min-width: 320px; max-width: 700px; display: table-cell; vertical-align: top; width: 700px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                    // <![endif]
                    table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                      tbody
                        tr(style='vertical-align: top;' valign='top')
                          td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;' valign='top')
                            table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' height='10' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid transparent; height: 10px; width: 100%;' valign='top' width='100%')
                              tbody
                                tr(style='vertical-align: top;' valign='top')
                                  td(height='10' style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                    span
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        div(style='background-color:transparent;')
          .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 700px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #ffddb0;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:#ffddb0;')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:700px')
                        tr.layout-full-width(style='background-color:#ffddb0')
              //if (mso)|(IE)
                td(align='center' width='700' style='background-color:#ffddb0;width:700px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
              .col.num12(style='min-width: 320px; max-width: 700px; display: table-cell; vertical-align: top; width: 700px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                    // <![endif]
                    table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                      tbody
                        tr(style='vertical-align: top;' valign='top')
                          td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;' valign='top')
                            table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' height='15' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid transparent; height: 15px; width: 100%;' valign='top' width='100%')
                              tbody
                                tr(style='vertical-align: top;' valign='top')
                                  td(height='15' style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                    span
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        div(style='background-color:transparent;')
          .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 700px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #ffddb0;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:#ffddb0;')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:700px')
                        tr.layout-full-width(style='background-color:#ffddb0')
              //if (mso)|(IE)
                td(align='center' width='700' style='background-color:#ffddb0;width:700px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
              .col.num12(style='min-width: 320px; max-width: 700px; display: table-cell; vertical-align: top; width: 700px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                    // <![endif]
                    table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                      tbody
                        tr(style='vertical-align: top;' valign='top')
                          td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;' valign='top')
                            table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' height='15' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid transparent; height: 15px; width: 100%;' valign='top' width='100%')
                              tbody
                                tr(style='vertical-align: top;' valign='top')
                                  td(height='15' style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                    span
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        div(style='background-color:transparent;')
          .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 700px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:700px')
                        tr.layout-full-width(style='background-color:transparent')
              //if (mso)|(IE)
                td(align='center' width='700' style='background-color:transparent;width:700px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
              .col.num12(style='min-width: 320px; max-width: 700px; display: table-cell; vertical-align: top; width: 700px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                    // <![endif]
                    .mobile_hide
                      table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                        tbody
                          tr(style='vertical-align: top;' valign='top')
                            td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;' valign='top')
                              table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' height='20' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid transparent; height: 20px; width: 100%;' valign='top' width='100%')
                                tbody
                                  tr(style='vertical-align: top;' valign='top')
                                    td(height='20' style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                      span
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        //if (mso)|(IE)
//if (IE)
